body{
	font-family: 'Quicksand', sans-serif;
    width:700px;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
}

.alpha-grid {
	border-spacing:0;
	border-collapse:collapse;
}

.alpha-grid thead {
    background: #ffb260; /* Older browsers */
    background: -moz-linear-gradient(top, #fafafa 0%, #e1e1e1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fafafa 0%,#e1e1e1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fafafa 0%,#e1e1e1 100%); /* IE10+ */
    background: linear-gradient(top,  #fafafa 0%,#e1e1e1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbb', endColorstr='#ddd',GradientType=0 ); /* IE6-9 */
    font-size:13px;
}

.alpha-grid tr th{
    border:1px solid #dadada;
    height:30px;
}

.alpha-grid tr td{
	border:1px solid #dadada;
	cursor:pointer;
}

.alpha-grid tbody tr:hover { 
    background: #ffffcc; 
}

.alpha-grid tbody tr {
    transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}


/* paging toolbar */
.sprite-board-paging{ background: url(../img/csg-4f3ace01ae0f7.png) no-repeat top left; }
.sprite-board_paging-end{ background-position: 0 0; width: 10px; height: 7px; }
.sprite-board_paging-first{ background-position: 0 -17px; width: 10px; height: 7px;}

.sprite-board_paging-next{ background-position: 0 -34px; width: 6px; height: 7px; }
.sprite-board_paging-prev{ background-position: 0 -51px; width: 6px; height: 7px; }

.nsb-paging-btn {
	margin:0 3px 0 3px;
	cursor:pointer;
}
.ptb-current {
    width:50px;
    border:1px solid #ccc;
    border-radius:4px;
    background:#fff;
}
